---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("May 11 2025")}
	heroImage="/sunset.png"
>
	<p>
		I'm Connor. I'm an entrepreneur with a passion for design and technology.
	</p>

	<p>
		I am currently enrolled in Brigham Young University Marriott School of Business pursuing a degree in entrepreneurial management. 
		I was previously enrolled in the CS program but switched to business after a year and a half. I still have a passion for programming and love working on personal projects which I will share here. 
	</p>

	<p>
		I am also the co-founder and CEO of <a href="https://buildwithbridge.ai">Bridge</a>, a startup focused on helping companies manage their technical debt. 
	</p>

	<p>
		I plan to update this page with more about me and my projects as a I continue to work and learn. Thanks for stopping by!
	</p>

	
</Layout>
